// Base
@import "base/normalize.scss";

body,html {
    height: 100vh;
}

.app-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7ea+0,009ec3+100;Blue+3D+%2315 */
}


.app-wrapper {
    .layer-1 {z-index: 10;}
    .layer-2 {z-index: 20;}
    .layer-3 {z-index: 30;}
    .layer-4 {z-index: 40;}
    .layer-5 {z-index: 50;}
    .layer-6 {z-index: 60;}
    .layer-7 {z-index: 70;}
    .layer-8 {z-index: 80;}
    .layer-9 {z-index: 90;}
    .layer-10 {z-index: 100;}
}

.content-wrap,
.water-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.fish {
    position: absolute;
    display: block;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}


.water-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.water-wrap {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    animation-name: water-animation;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes water-animation {
    0%{
        transform: scale(1);
    };
    50%{
        transform: scale(1.2);
    };
    100% {
        transform: scale(1);
    }
    
}

.content-wrap {

}



.bottom-wrap {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eab92d+0,c79810+100;Yellow+3D+%232 */
    background: rgb(234,185,45); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(234,185,45,1) 0%, rgba(199,152,16,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 ); /* IE6-9 */
}